[submodule ".mutt/base16-mutt"]
	path = .mutt/base16-mutt
	url = https://github.com/josephholsten/base16-mutt
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "/home/darkfire/.config/nvim/pack/github/start/copilot.vim"]
	path = /home/darkfire/.config/nvim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "/home/darkfire/.config/nvim/pack/vim-elixir/start/vim-elixir"]
	path = /home/darkfire/.config/nvim/pack/vim-elixir/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir
[submodule ".config/nvim/pack/ultisnips/start/ultisnips"]
	path = .config/nvim/pack/ultisnips/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".config/nvim/pack/base16-vim/start/base16-vim"]
	path = .config/nvim/pack/base16-vim/start/base16-vim
	url = https://github.com/chriskempson/base16-vim
