# These don't contain dotfiles
/classes
/org
/proj

# Neither do these
/.contact-store
/.money
/.password-store
/.bin

# Hidden files that should not be tracked
/.bash_history
/.cache
/.cargo
/.local
/.gnupg
/.hex
/.hunter
/.mix
/.mozilla
/.pymol
/.python_history
/.rnd
/.rustup
/.pki
/.ssh
/.viminfo
/.wget-hsts
/.Xauthority
