[submodule ".mutt/base16-mutt"]
	path = .mutt/base16-mutt
	url = https://github.com/josephholsten/base16-mutt
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
