/dconf
/htop
/GIMP
/github-copilot
/go
/gtk-2.0
/inkscape
/keepassxc
/libreoffice
/okularrc
/org.aiidalab.aiidalab_launch
/ParaView
/pavucontrol.ini
/pulse
/QtProject.conf
/Signal
/systemd
/Thunar
/VirtualBox
/vlc
/xfce4
